# Meta (Facebook) App sozlamalari
META_APP_ID=your_app_id_here
META_APP_SECRET=your_app_secret_here
WEBHOOK_VERIFY_TOKEN=my_secret_verify_token_123

# Instagram / Facebook Page Access Token
# https://developers.facebook.com/ dan olinadi
PAGE_ACCESS_TOKEN=your_page_access_token_here

# Admin panel uchun parol
ADMIN_PASSWORD=admin123

# Server sozlamalari
HOST=0.0.0.0
PORT=8000
